@import '~bootstrap/scss/bootstrap';

.hidden {
  display: none;
}

#change-pw {
  right: 0;
  top: 40px;
  position: absolute;
}

h1 {
  left: 5px;
  top: 10px;
}

#sign-up-content {
  left: 5px;
  top: 25px;
}
